.container{
    border: 5px solid black;
}

.row{
    border: 3px solid red;
}
.pink{
    background: pink;
}
.blue{
    background: #007bff;
}
.orange{
    background: orange;
}

.green{
    background: yellowgreen;
}